
* {
  box-sizing: border-box
} 
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: #eeeeee;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid #393b44;
}

#currentDay{
  font-weight:900;

}

.container{
  text-align: center !important;
}

.hour {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border: 1px solid black;
  padding: 10px;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.pressBtn {
  background-color: #00bcd4 ;
  border-radius: 10px;
}

.pressBtn:hover:not([disabled]) {
  background-color:#318fb5 ;
}

.pressBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
.pressBtn:not(:disabled):not(.disabled) {
  cursor: pointer;

}

#footer {
  text-align: center;
  padding: 5%;
}
.footer-p {
  margin-top: 10px;
}

.past {
  background-color: grey !important;
  color: white !important;
  font-weight: 600 !important;
}

.present {
  background-color: #ea5455 !important;
  color: white !important;
  font-weight: 600 !important;

}

.future {
  background-color: #91d18b !important;
  color: black !important;
  font-weight: 600 !important;

}


